body
{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  #name-cl{
  color: #078507; 
  }
  .navber-colr{
    background: #ededed;
  }
  #navber-madile{
    gap: 150px;
  }
  .btn-section {
    padding: 5px 29px;
    border-radius: 20px;
    border-color: #078507;
}
#color-home{
 color: #078507;   
}
#color-hover:hover{
    color: #078507;
}

.btn-section:hover{
    color: white;
    background-color: rgb(4, 145, 4);
}
.bgc-nev{
  background-color: #29168a;
}